@model SampleMiddleware.Models.Restaurant

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-controller="Home" asp-action="Index">Home Page</a>
    </li>
    <li class="breadcrumb-item">Restaurant</li>
    <li class="breadcrumb-item active">Detail Restaurant</li>
</ol>
<h1>Detail Restaurant</h1>
<hr>
<p>@Model.Id dan @Model.Name</p>

