@model SampleMiddleware.Models.Restaurant

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <p>@Model.Id dan @Model.Name</p>
</body>
</html>
