@model IEnumerable<SampleMiddleware.Models.Restaurant>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-controller="Home" asp-action="Index">Home Page</a>
    </li>
    <li class="breadcrumb-item active">Restaurant</li>
</ol>
<h1>Restaurant</h1>
<hr>
<a asp-action="Create">Add Restaurant</a>
<table class="table table-striped">
    @foreach (var resto in Model)
    {
        <tr>
            <td>@resto.Id</td>
            <td>@resto.Name</td>
            <td>@resto.Jenis.NamaJenis</td>
            <td><a asp-action="Details" asp-route-id="@resto.Id">details</a></td>
        </tr>
    }
</table>
    


