@model IEnumerable<SampleMiddleware.Models.Restaurant>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Home Page</a>
    </li>
    <li class="breadcrumb-item active">Restaurant</li>
</ol>
<h1>Restaurant</h1>
<hr>
<table class="table table-striped">
    @foreach (var resto in Model)
    {
        <tr>
            <td>@resto.Id</td>
            <td>@resto.Name</td>
        </tr>
    }
</table>
    


