@model SampleMiddleware.Models.Restaurant

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Home Page</a>
    </li>
    <li class="breadcrumb-item active">Home Page</li>
</ol>
<h1>Home Page</h1>
<hr>
<p>Id Restaurant: @Model.Id , Nama Resto:@Model.Name</p>

