@model SampleMiddleware.Models.Restaurant

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Restaurant</title>
</head>
<body>
    <p>Id Restaurant: @Model.Id , Nama Resto:@Model.Name</p>
</body>
</html>
